extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
    .row
      .col-md-6.col-md-12
        p
          | Loca8r was created to help people find places to sit down and get a bit of work done.
          | <br/> <br/>
          | Maecenas ipsum velit, consectetuer eu, lobortis ut, dictum at, dui. In rutrum. Sed ac dolor sit amet purus malesuada congue. In laoreet, magna id viverra tincidunt, sem odio bibendum justo,
